

## Sélection de données :
Sélectionnez uniquement la colonne des noms du DataFrame.
Sélectionnez les étudiants qui ont obtenu une note supérieure à 75.

## Modification de données :
Augmentez les notes de tous les étudiants de 5 points.
Ajoutez une nouvelle colonne indiquant si un étudiant a réussi (note supérieure à 50) ou échoué.

## Filtrage de données :
Filtrez les étudiants qui ont échoué.
Filtrez les étudiants dont l'âge est supérieur à 20 ans.

## Tri de données :
Triez le DataFrame par ordre décroissant de notes.
Triez le DataFrame par ordre alphabétique des noms.

## Agrégation de données :
Calculez la moyenne des notes des étudiants.
Trouvez l'étudiant avec la note la plus élevée.

## Combinaison de DataFrames :
Créez deux DataFrames distincts, l'un pour les cours de mathématiques et l'autre pour les cours de sciences, puis combinez-les.
Ajoutez une colonne au DataFrame combiné pour indiquer le domaine de chaque cours.

## Gestion des valeurs manquantes :
Ajoutez des valeurs manquantes à certaines cellules du DataFrame.
Supprimez les lignes contenant des valeurs manquantes.

## Visualisation :
Tracez un histogramme des notes des étudiants.
Tracez un diagramme à barres montrant le nombre d'étudiants dans chaque tranche d'âge.

# Chargement d'un DataFrame

In [116]:
import pandas as pd #big_kangourou

df = pd.read_csv('./datasets/persons.csv')
df.head()

,first_name,last_name,email,phone,national_number
0,Alain,Guillou,efontaine@lesage-sa.com,02 45 13 65 05,88.04.24-740.28
1,Alexandrie,Lemaître,bruneaumartine@martinez.net,0253688830,47.04.09-703.36
2,Andrée,Fouquet,margauddiaz@leger-sarl.com,02 34 05 07 93,65.07.20-978.82
3,Louis,Raynaud,fontaineadrienne@langlois-bousquet-sarl.com,+32 (0)4 82 87 65 67,55.07.19-953.72
4,Dominique,Prévost,ceciledidier@maury.com,+32 2 46 27 09 78,93.11.23-302.63

In [117]:
df = pd.read_excel('./datasets/persons.xlsx')
df

,first_name,last_name,email,phone,national_number
0,Alain,Guillou,efontaine@lesage-sa.com,02 45 13 65 05,88.04.24-740.28
1,Alexandrie,Lemaître,bruneaumartine@martinez.net,0253688830,47.04.09-703.36
2,Andrée,Fouquet,margauddiaz@leger-sarl.com,02 34 05 07 93,65.07.20-978.82
3,Louis,Raynaud,fontaineadrienne@langlois-bousquet-sarl.com,+32 (0)4 82 87 65 67,55.07.19-953.72
4,Dominique,Prévost,ceciledidier@maury.com,+32 2 46 27 09 78,93.11.23-302.63
...,...,...,...,...,...
995,Maggie,Roussel,poulainphilippine@klein-sarl.org,+32 (0)5 35 59 31 23,78.02.08-305.86
996,Anne,Michel,nperez@boutin.org,0645634461,69.02.18-385.71
997,Alphonse,Barthelemy,christellehamon@becker-sa.org,+32 3 52 00 98 41,71.05.04-347.29
998,Juliette,Carre,cfleury@vallet.org,+32 (0)4 83 05 34 98,50.05.19-107.14
999,Laurence,Dupuy,brigitteribeiro@paris-pires-s-a.net,+32 1 48 13 32 52,95.06.10-074.47

In [118]:
print(df.shape)

(1000, 5)

In [119]:
df.columns

Index(['first_name', 'last_name', 'email', 'phone', 'national_number'], dtype='object')

In [120]:
df.describe()

,first_name,last_name,email,phone,national_number
count,1000,1000,1000,1000,1000
unique,214,366,1000,1000,1000
top,Thibault,Delattre,efontaine@lesage-sa.com,02 45 13 65 05,88.04.24-740.28
freq,12,11,1,1,1

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   first_name       1000 non-null   object
 1   last_name        1000 non-null   object
 2   email            1000 non-null   object
 3   phone            1000 non-null   object
 4   national_number  1000 non-null   object
dtypes: object(5)
memory usage: 39.2+ KB

In [122]:
df.dtypes

first_name         object
last_name          object
email              object
phone              object
national_number    object
dtype: object

In [123]:
# define the columns to be read as string
df = pd.read_csv('./datasets/persons.csv', dtype={'id': str, 'name': str, 'age': str, 'city': str})

In [124]:
df.dtypes

first_name         object
last_name          object
email              object
phone              object
national_number    object
dtype: object

In [125]:
# extract birthdate from the 8 first characters of the column national_number
df['birthdate'] = df['national_number'].str[:8]
df.head()

,first_name,last_name,email,phone,national_number,birthdate
0,Alain,Guillou,efontaine@lesage-sa.com,02 45 13 65 05,88.04.24-740.28,88.04.24
1,Alexandrie,Lemaître,bruneaumartine@martinez.net,0253688830,47.04.09-703.36,47.04.09
2,Andrée,Fouquet,margauddiaz@leger-sarl.com,02 34 05 07 93,65.07.20-978.82,65.07.20
3,Louis,Raynaud,fontaineadrienne@langlois-bousquet-sarl.com,+32 (0)4 82 87 65 67,55.07.19-953.72,55.07.19
4,Dominique,Prévost,ceciledidier@maury.com,+32 2 46 27 09 78,93.11.23-302.63,93.11.23

In [126]:
# convert the birthdate to datetime 
df['birthdate'] = pd.to_datetime(df['birthdate'], format='%y.%m.%d')
df.sample(5)

,first_name,last_name,email,phone,national_number,birthdate
512,Sophie,Meunier,lainerene@allard-s-a-s.com,0262688544,97.10.19-971.04,1997-10-19
559,Maurice,Vallée,guillonadrienne@lenoir.net,04 88 73 13 25,55.01.06-097.01,2055-01-06
793,Suzanne,Georges,aurore07@lemaire.net,+32 (0)4 74 42 20 83,86.12.10-115.05,1986-12-10
722,Thierry,Maréchal,hugues25@hoarau.net,+32 4 97 01 63 31,82.05.04-534.91,1982-05-04
455,Charles,Roux,nicole64@diaz-vallee-et-fils.org,01 58 90 78 09,61.12.25-940.59,2061-12-25

In [127]:
# if bithdate is in the future, remove 100 years
df.loc[df['birthdate'] > pd.to_datetime('today'), 'birthdate'] -= pd.DateOffset(years=100)
df.sample(5)

,first_name,last_name,email,phone,national_number,birthdate
574,Mathilde,Joseph,jacquelinegillet@colas-et-fils.com,+32 (0)4 85 37 93 06,67.01.06-886.22,1967-01-06
699,Thérèse,Pages,mlucas@bigot-breton-s-a-s.org,+32 3 26 02 84 05,51.08.14-884.27,1951-08-14
227,Gérard,Maillet,jean92@leduc-s-a-s.net,+32 (0)5 17 70 21 22,77.07.16-180.10,1977-07-16
393,Juliette,Bègue,victordumas@turpin.net,01 49 33 65 45,48.06.28-783.69,1948-06-28
992,Thibaut,Gomez,nicolaschevalier@verdier-evrard-s-a-s.org,02 19 70 38 79,70.09.01-957.23,1970-09-01

In [128]:
df.dtypes

first_name                 object
last_name                  object
email                      object
phone                      object
national_number            object
birthdate          datetime64[ns]
dtype: object

In [129]:
# find the age of each person
df['age'] = (pd.to_datetime('today') - df['birthdate']).astype('<m8[Y]')
df.head()

,first_name,last_name,email,phone,national_number,birthdate,age
0,Alain,Guillou,efontaine@lesage-sa.com,02 45 13 65 05,88.04.24-740.28,1988-04-24,35.0
1,Alexandrie,Lemaître,bruneaumartine@martinez.net,0253688830,47.04.09-703.36,1947-04-09,76.0
2,Andrée,Fouquet,margauddiaz@leger-sarl.com,02 34 05 07 93,65.07.20-978.82,1965-07-20,58.0
3,Louis,Raynaud,fontaineadrienne@langlois-bousquet-sarl.com,+32 (0)4 82 87 65 67,55.07.19-953.72,1955-07-19,68.0
4,Dominique,Prévost,ceciledidier@maury.com,+32 2 46 27 09 78,93.11.23-302.63,1993-11-23,30.0

In [130]:
df.dtypes

first_name                 object
last_name                  object
email                      object
phone                      object
national_number            object
birthdate          datetime64[ns]
age                       float64
dtype: object

In [131]:
df['age'] = df['age'].astype(int)
df.head()

,first_name,last_name,email,phone,national_number,birthdate,age
0,Alain,Guillou,efontaine@lesage-sa.com,02 45 13 65 05,88.04.24-740.28,1988-04-24,35
1,Alexandrie,Lemaître,bruneaumartine@martinez.net,0253688830,47.04.09-703.36,1947-04-09,76
2,Andrée,Fouquet,margauddiaz@leger-sarl.com,02 34 05 07 93,65.07.20-978.82,1965-07-20,58
3,Louis,Raynaud,fontaineadrienne@langlois-bousquet-sarl.com,+32 (0)4 82 87 65 67,55.07.19-953.72,1955-07-19,68
4,Dominique,Prévost,ceciledidier@maury.com,+32 2 46 27 09 78,93.11.23-302.63,1993-11-23,30

In [132]:
df.dtypes

first_name                 object
last_name                  object
email                      object
phone                      object
national_number            object
birthdate          datetime64[ns]
age                         int64
dtype: object

In [133]:
# find gender from the national number : if 4th from the end is even, then it is a female else it should be a male
df['gender_digit'] = df['national_number'].str[-4].astype(int)
df.head()

,first_name,last_name,email,phone,national_number,birthdate,age,gender_digit
0,Alain,Guillou,efontaine@lesage-sa.com,02 45 13 65 05,88.04.24-740.28,1988-04-24,35,0
1,Alexandrie,Lemaître,bruneaumartine@martinez.net,0253688830,47.04.09-703.36,1947-04-09,76,3
2,Andrée,Fouquet,margauddiaz@leger-sarl.com,02 34 05 07 93,65.07.20-978.82,1965-07-20,58,8
3,Louis,Raynaud,fontaineadrienne@langlois-bousquet-sarl.com,+32 (0)4 82 87 65 67,55.07.19-953.72,1955-07-19,68,3
4,Dominique,Prévost,ceciledidier@maury.com,+32 2 46 27 09 78,93.11.23-302.63,1993-11-23,30,2

In [134]:
def get_gender(fourth_digit_from_end):
    return 'Female' if fourth_digit_from_end % 2 == 0 else 'Male'

# if last digit is even then it is a male
df['gender'] = df['gender_digit'].apply(get_gender)
df.head()

,first_name,last_name,email,phone,national_number,birthdate,age,gender_digit,gender
0,Alain,Guillou,efontaine@lesage-sa.com,02 45 13 65 05,88.04.24-740.28,1988-04-24,35,0,Female
1,Alexandrie,Lemaître,bruneaumartine@martinez.net,0253688830,47.04.09-703.36,1947-04-09,76,3,Male
2,Andrée,Fouquet,margauddiaz@leger-sarl.com,02 34 05 07 93,65.07.20-978.82,1965-07-20,58,8,Female
3,Louis,Raynaud,fontaineadrienne@langlois-bousquet-sarl.com,+32 (0)4 82 87 65 67,55.07.19-953.72,1955-07-19,68,3,Male
4,Dominique,Prévost,ceciledidier@maury.com,+32 2 46 27 09 78,93.11.23-302.63,1993-11-23,30,2,Female

In [135]:
# add a age category column
df['age_category'] = pd.cut(
                    df['age'], 
                    bins=[0, 18, 42, 46, 113], 
                    labels=['0-17', '18-41', '42-45', '46-112']
                    )

df.head()

,first_name,last_name,email,phone,national_number,birthdate,age,gender_digit,gender,age_category
0,Alain,Guillou,efontaine@lesage-sa.com,02 45 13 65 05,88.04.24-740.28,1988-04-24,35,0,Female,18-41
1,Alexandrie,Lemaître,bruneaumartine@martinez.net,0253688830,47.04.09-703.36,1947-04-09,76,3,Male,46-112
2,Andrée,Fouquet,margauddiaz@leger-sarl.com,02 34 05 07 93,65.07.20-978.82,1965-07-20,58,8,Female,46-112
3,Louis,Raynaud,fontaineadrienne@langlois-bousquet-sarl.com,+32 (0)4 82 87 65 67,55.07.19-953.72,1955-07-19,68,3,Male,46-112
4,Dominique,Prévost,ceciledidier@maury.com,+32 2 46 27 09 78,93.11.23-302.63,1993-11-23,30,2,Female,18-41

In [136]:
# get company from domain name
df['company'] = df['email'].str.split('@').str[1].str.split('.').str[0]
df['company'] = df['company'].str.capitalize()
df['company'] = df['company'].str.replace('-', ' ')

df.head()

,first_name,last_name,email,phone,national_number,birthdate,age,gender_digit,gender,age_category,company
0,Alain,Guillou,efontaine@lesage-sa.com,02 45 13 65 05,88.04.24-740.28,1988-04-24,35,0,Female,18-41,Lesage sa
1,Alexandrie,Lemaître,bruneaumartine@martinez.net,0253688830,47.04.09-703.36,1947-04-09,76,3,Male,46-112,Martinez
2,Andrée,Fouquet,margauddiaz@leger-sarl.com,02 34 05 07 93,65.07.20-978.82,1965-07-20,58,8,Female,46-112,Leger sarl
3,Louis,Raynaud,fontaineadrienne@langlois-bousquet-sarl.com,+32 (0)4 82 87 65 67,55.07.19-953.72,1955-07-19,68,3,Male,46-112,Langlois bousquet sarl
4,Dominique,Prévost,ceciledidier@maury.com,+32 2 46 27 09 78,93.11.23-302.63,1993-11-23,30,2,Female,18-41,Maury

In [137]:
# remove phone
df = df.drop(columns=['phone', 'gender_digit', 'email'])

In [138]:
# create a full name column
df['full_name'] = df['first_name'] + ' ' + df['last_name']
df.sample(5)

,first_name,last_name,national_number,birthdate,age,gender,age_category,company,full_name
276,Marine,Ramos,98.12.20-276.93,1998-12-20,25,Female,18-41,Dupont sarl,Marine Ramos
271,Joséphine,Denis,82.04.12-276.36,1982-04-12,41,Female,18-41,Barbe s a s,Joséphine Denis
741,Sophie,Poirier,83.07.25-187.68,1983-07-25,40,Male,18-41,Gilles,Sophie Poirier
113,Thibault,Mace,86.05.23-538.65,1986-05-23,37,Female,18-41,Pelletier,Thibault Mace
275,Georges,Joly,52.11.28-575.77,1952-11-28,71,Male,46-112,Carre,Georges Joly

In [139]:
df.to_csv('./datasets/persons_cleaned.csv', index=False)